{
  email admin@liveauth.app
}

liveauth.app {
    root * /srv/browser
    try_files {path} /index.html
    file_server
}

api.liveauth.app {
    @preflight method OPTIONS
    handle @preflight {
        header Access-Control-Allow-Origin "https://liveauth.app"
        header Access-Control-Allow-Methods "GET, POST, OPTIONS, PATCH"
        header Access-Control-Allow-Headers "Content-Type, Authorization, X-LW-Public"
        header Access-Control-Max-Age "86400"
        respond 204
    }

    reverse_proxy liveauth-api:8080
}



admin.liveauth.app {
    root * /srv/admin
    try_files {path} /index.html
    file_server
}
