{
    email admin@liveauth.app
    admin off
}

api.liveauth.app {
    reverse_proxy localhost:8081
    header X-Frame-Options SAMEORIGIN
    header X-Content-Type-Options nosniff
    encode gzip
}

liveauth.app {
    root * /srv
    try_files {path} {path}/ /index.html
    file_server

    header X-Frame-Options SAMEORIGIN
    header X-Content-Type-Options nosniff
    encode gzip

    handle_errors {
        respond {err.status_code} {err.status_text}
    }
}

admin.liveauth.app {
    root * /srv/liveauth-admin
    try_files {path} {path}/ /index.html
    file_server

    header X-Frame-Options SAMEORIGIN
    header X-Content-Type-Options nosniff
    encode gzip

    handle_errors {
        respond {err.status_code} {err.status_text}
    }
}

docs.liveauth.app {
    root * /srv/docs
    try_files {path} {path}/ /index.html
    file_server

    header X-Frame-Options SAMEORIGIN
    header X-Content-Type-Options nosniff
    encode gzip
}
